.badgeContainer {
    margin-top: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.typeWrapper {
    display: flex;
}
.typeInner {
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}