.mainContainer {
    margin-top: 0;
}
.mainContainer .button {
    background-color: white;
}
.mainContainer .buttonText {
    color: #48BBEC;
}
.mainContainer .title {
    color: white;
}

/*desctop styles;*/
@media (min-width: 768px) {
    .mainForm {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .mainForm > * {
        flex: 1;
        margin: 0 2px;
    }
    .searchInput {
        height: auto;
    }
}
/*responsive styles*/
@media (max-width: 767px) {
    .mainForm {
        display: flex;
        flex-direction: column;
    }
}