// desctop styles;
@media (min-width: 768px) {
    .mainContainer {
        flex: 1;
        padding: 26px;
        margin-top: 5px;
        flex-direction: column;
        background-color: greenyellow;

        h1 {
            margin-bottom: 20px;
            font-size: 35px;
            text-align: center;
            color: #fff;
        }

        label {
            text-align: center;
            color: #fff;
            margin-bottom: 5px;
        }
        input[type="text"] {
            height: 50px;
            padding: 10px;
            margin-bottom: 15px;
            font-size: 23px;
            border: 1px solid black;
            border-radius: 8px;
        }
        button {
            height: 50px;
            font-size: 18px;
            color: #48BBEC;
            background-color: white;
            border: 1px solid white;
            border-radius: 8px;
            margin-bottom: 15px;
            flex-direction: row;
            align-self: stretch;
            justify-content: center;
        }
    }
}