/*desctop styles;*/
@media (min-width: 768px) {
    .mainContainer {
        background-color: green;
    }
}
/*responsive styles*/
@media (max-width: 767px) {
    .mainForm {
        display: flex;
        flex-direction: column;
    }
}